/* assets/scss/header-styles.scss */

/* กำหนดการเว้นระยะห่างด้านบนและด้านล่างของแถบแอปพลิเคชัน */
.custom-app-bar {
    padding-top: 10px; /* ปรับค่าได้ตามต้องการ */
    padding-bottom: 10px; /* ปรับค่าได้ตามต้องการ */
  }
  
/* กำหนดสไตล์สำหรับคลาส brand ซึ่งใช้สำหรับข้อความและโลโก้ */
.brand {
  font-size: 20px; /* ขนาดของฟอนต์ */
  color: #fff; /* สีของฟอนต์ */
  text-decoration: none; /* ไม่มีการตกแต่งข้อความ */
  font-weight: bold; /* ความหนาของฟอนต์ */
  display: flex; /* ใช้ Flexbox สำหรับการจัดวาง */
  align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
}

/* กำหนดสไตล์สำหรับเมนู */
.menu {
  font-size: 16px; /* ขนาดของฟอนต์ */
}

/* กำหนดขนาดและการจัดวางสำหรับโลโก้ */
.logo {
  width: 125px; /* ปรับขนาดความกว้างตามต้องการ */
  height: 108px; /* ปรับขนาดความสูงตามต้องการ */
  margin-right: 8px; /* เพิ่มช่องว่างระหว่างโลโก้และข้อความ */
}

/* กำหนดการจัดวางสำหรับคลาส v-toolbar-title */
.v-toolbar-title {
  display: flex; /* ใช้ Flexbox สำหรับการจัดวาง */
  justify-content: center; /* จัดให้อยู่กึ่งกลางแนวนอน */
  align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
  width: 100%; /* กำหนดความกว้างเต็ม */
}

/* กำหนดการจัดวางสำหรับแถวที่มีคลาส align-center */
.v-row.align-center {
  align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
}
